<a href="https://colab.research.google.com/github/nandolima1/exercicio3pt/blob/main/Ol%C3%A1%2C_este_%C3%A9_o_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fahrenheit = float(input("Digite a temperatura em graus Fahrenheit: "))
celsius = 5 * ((fahrenheit - 32) / 9)
print("A temperatura em graus Celsius é:", celsius)

In [ ]:
nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: "))
nacionalidade = input("Digite sua nacionalidade: ")
hobby = input("Digite seu hobby: ")

# Impressão com diferentes tipos de formatação
print(f"Nome: {nome},")
print(f"Idade: {idade}")
print("Nacionalidade: {}".format(nacionalidade))
print("Hobby: " + nome + ", " + str(idade) + ", " + nacionalidade + ", " + hobby)  # Concatenação com erro

In [ ]:
numero_inteiro = int(input("Digite um número inteiro: "))
numero_decimal = float(input("Digite um número decimal: "))
numero_texto = input("Digite um número em formato de texto: ")

# Conversões
inteiro_para_decimal = float(numero_inteiro)
decimal_para_texto = str(numero_decimal)
texto_para_inteiro = int(numero_texto)


print(f"Número inteiro convertido para decimal: {inteiro_para_decimal}, tipo: {type(inteiro_para_decimal)}")
print(f"Número decimal convertido para texto: {decimal_para_texto}, tipo: {type(decimal_para_texto)}")
print(f"Número texto convertido para inteiro: {texto_para_inteiro}, tipo: {type(texto_para_inteiro)}")

In [ ]:
nome = input("Digite um nome: ")
telefone = int(input("Digite um telefone: "))

# Impressão com diferentes tipos de formatação
print("Vírgula:", nome, telefone)
print("Concatenação: " + nome + str(telefone))
print(f"f-string: {nome}{telefone}")
print("Format:", "{}{}".format(nome, telefone))

In [ ]:
numero_decimal = float(input("Digite um número decimal: "))
numero_formatado = "{:,.2f}".format(numero_decimal)
print("R$", numero_formatado)

In [ ]:
numero_inteiro = int(input("Digite um número inteiro: "))
tamanho = 8
numero_formatado = f"{numero_inteiro:0{tamanho}d}"  # Preenchimento com zeros à esquerda
print(numero_formatado)

In [ ]:
dia = input("Digite o dia de nascimento: ")
mes = input("Digite o mês de nascimento: ")
ano = input("Digite o ano de nascimento: ")
print(dia + "/" + mes + "/" + ano)

In [ ]:
valor_por_hora = float(input("Digite quanto você ganha por hora: "))
horas_trabalhadas = float(input("Digite o número de horas trabalhadas no mês: "))

salario = valor_por_hora * horas_trabalhadas
print("O total do seu salário no mês é:", salario)

In [ ]:
import math

raio = float(input("Digite o raio do círculo: "))
area = math.pi * (raio ** 2)
print("A área do círculo é:", area)

In [ ]:
citacao = input("Digite uma citação: ")
citacao_com_aspas = f'"{citacao}"'
print(citacao_com_aspas)

In [ ]:
import numpy as np
from matplotlib import pyplot as plt

ys = 200 + np.random.randn(100)
x = [x for x in range(len(ys))]

plt.plot(x, ys, '-')
plt.fill_between(x, ys, 195, where=(ys > 195), facecolor='g', alpha=0.6)

plt.title("Sample Visualization")
plt.show()